<ion-modal-view ng-controller="addController">
  <ion-header-bar class="bar bar-header bar-balanced barCustom">
    <button class="button button-clear button-top-left" ng-click="closeAdd(addAluno)">
        <i class="icon icon-left ion-android-arrow-back"></i>
    </button>
    <p class="title">Adicionar aluno</p>
  </ion-header-bar>
  <ion-content>
    <form name="alunoForm" ng-submit="add(addAluno)" novalidate ng-model="addAluno">
      <div class="list">
         <label class="item item-input">
           <input type="text" placeholder="Nome" ng-model="addAluno.nome" required>
         </label>
         <label class="item item-input">
           <input type="text" placeholder="Responsavel" ng-model="addAluno.responsavel" required>
         </label>
         <label class="item item-input">
           <input type="email" placeholder="email" ng-model="addAluno.email" required>
         </label>
         <label class="item item-input">
         <input type="date" placeholder="Nascimento" ng-model="addAluno.idadeDate" required>
         <p ng-show="alunoForm.email.$invalid && !alunoForm.email.$pristine"
            class="help-block">Email inválido.</p>
         </label>

      </div>
      <a type="submit"
              class="cardMargin button button-block button-balanced"
              ng-disabled="alunoForm.$invalid"
              ng-click="add(addAluno)">
              Adicionar aluno
      </a>
    </form>
  </ion-content>
</ion-modal-view>
