<ion-modal-view ng-controller="addController">
  <ion-header-bar class="bar bar-header bar-balanced barCustom">
    <button class="button button-clear button-top-left" ng-click="closeAdd(addAluno)">
        <i class="icon icon-left ion-android-arrow-back"></i>
    </button>
    <p class="title">Adicionar aluno</p>
  </ion-header-bar>
  <ion-content>
    <form name="alunoForm" ng-submit="add(addAluno)" novalidate ng-model="addAluno">
      <div class="list addAlunoWrapper">
        <div class="item item-divider">
          <p>Dados cadastrais</p>
        </div>
         <label class="item item-input">
           <input type="text" placeholder="Nome" ng-model="addAluno.nome" required maxlength="40">
         </label>
         <label class="item item-input">
           <input type="text" placeholder="Responsavel" ng-model="addAluno.responsavel" required maxlength="40">
         </label>
         <label class="item item-input">
           <input type="email" placeholder="email" ng-model="addAluno.email" required>
         </label>
         <label class="item item-input">
         <input type="date" placeholder="Nascimento" ng-model="addAluno.dataNascimento" required>
         <p ng-show="alunoForm.email.$invalid && !alunoForm.email.$pristine"
            class="help-block">Email inválido.</p>
         </label>
         <label class="item item-input">
           <input type="tel" placeholder="Telefone" ng-model="addAluno.telefone">
         </label>
         <div class="mensalidades list">
           <div class="item item-divider">
             <p>Contrato</p>
           </div>
           <div class="item range">
             <p ng-if="!addAluno.contratoVigencia">Vigência</p>
             <p class="pAuxMes" ng-if="addAluno.contratoVigencia == 1">
               {{addAluno.contratoVigencia}} Mês
             </p>
             <p class="pAuxMes" ng-if="addAluno.contratoVigencia && addAluno.contratoVigencia != 1">
               {{addAluno.contratoVigencia}} Meses
             </p>
             <input type="range"
                    name="contratoVigencia" min="1" max="24" value="12"
                    ng-model="addAluno.contratoVigencia" required>
          </div>
          <label class="item item-input item-select">
            <select ng-model="addAluno.contratoVencimento" name="vencimento" required>
              <option ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]">
                {{n}}
              </option>
            </select>
            <div class="input-label">
              <p>Vencimento</p>
            </div>
          </label>
          <label class="item item-input">
            <div class="input-label">
              <p>Valor</p>
            </div>
            <input type="number" required pattern="-?(\d+|\d+\.\d+|\.\d+)([eE][-+]?\d+)?"
             ng-model="addAluno.valorMensalidade" placeholder="R$ 0.00"
             value="addAluno.valorMensalidade | currency">
          </label>
        </div>
      </div>
      <a type="submit"
              class="cardMargin button button-block button-balanced"
              ng-disabled="alunoForm.$invalid"
              ng-click="add(addAluno)">
              Adicionar aluno
      </a>

  </ion-content>
</ion-modal-view>
