<ion-modal-view ng-controller="editKidController">
  <ion-header-bar class="bar bar-header bar-balanced barCustom">
    <button class="button button-clear button-top-left" ng-click="closeEditKid()">
        <i class="icon icon-left ion-android-arrow-back"></i>
    </button>
    <p class="title">Editar aluno</p>
  </ion-header-bar>
  <ion-content>
    <div class="list">
        <form name="alunoForm" ng-submit="save(editAluno)" novalidate ng-model="editAluno">
          <div class="list editAlunoWrapper">
            <div class="item item-divider">
              <p>Dados cadastrais</p>
            </div>
             <label class="item item-input">
               <input type="text" placeholder="Nome" ng-model="editAluno.nome" required>
             </label>
             <label class="item item-input">
               <input type="text" placeholder="Responsavel" ng-model="editAluno.responsavel" required>
             </label>
             <label class="item item-input">
               <input type="email" placeholder="email" ng-model="editAluno.email" required>
             </label>
             <label class="item item-input">
             <input type="date" placeholder="Nascimento" ng-model="editAluno.dataNascimentoAux" required>
             <p ng-show="editAlunoForm.email.$invalid && !editAlunoForm.email.$pristine"
                class="help-block">Email inválido.</p>
             </label>
             <label class="item item-input">
               <input type="tel" placeholder="Telefone" ng-model="editAluno.telefone">
             </label>
             <div class="mensalidades list">
               <div class="item item-divider">
                 <p>Contrato</p>
               </div>                             
              <label class="item item-input">
                <div class="input-label">
                  <p>Valor</p>
                </div>
                <input type="number" required pattern="-?(\d+|\d+\.\d+|\.\d+)([eE][-+]?\d+)?"
                 ng-model="editAluno.valorMensalidade" placeholder="R$ 0.00"
                 value="editAluno.valorMensalidade | currency">
              </label>
            </div>
          </div>
        <a class="cardMargin button button-block button-assertive" ng-click="remove(editAluno)">Deletar Aluno</a>
        <a type="submit" ng-disabled="alunoForm.$invalid" class="cardMargin button button-block button-balanced" ng-click="save(editAluno)">Salvar</a>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
