<ion-modal-view ng-controller="editKidController">
  <ion-header-bar class="bar bar-header bar-balanced barCustom">
    <button class="button button-clear button-top-left" ng-click="closeEditKid()">
        <i class="icon icon-left ion-android-arrow-back"></i>
    </button>
    <p class="title">Editar aluno</p>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        <p>Dados cadastrais</p>
      </div>
       <label class="item item-input">
         <input type="text" placeholder="Nome" ng-model="aluno.nome" required>
       </label>
       <label class="item item-input">
         <input type="text" placeholder="Responsavel" ng-model="aluno.responsavel" required>
       </label>
       <label class="item item-input">
         <input type="email" placeholder="email" ng-model="aluno.email" required>
       </label>
       <label class="item item-input">
       <input type="date" placeholder="Nascimento" ng-model="aluno.dataNascimento" required>
       <p ng-show="alunoForm.email.$invalid && !alunoForm.email.$pristine"
          class="help-block">Email inválido.</p>
       </label>
       <label class="item item-input">
         <input type="tel" placeholder="Telefone" ng-model="aluno.telefone">
       </label>
      </div>
      <a class="cardMargin button button-block button-assertive" ng-click="remove(aluno)">Deletar Aluno</a>
      <a class="cardMargin button button-block button-balanced" ng-click="save(aluno)">Salvar</a>
    </div>
  </ion-content>
</ion-modal-view>
