<ion-modal-view ng-controller="eventController">
  <ion-header-bar class="bar bar-header bar-event barCustom">
    <button class="button button-clear button-top-left" ng-click="closeEvent()">
        <i class="icon icon-left ion-android-arrow-back"></i>
    </button>
    <p class="title">Eventos</p>
  </ion-header-bar>
  <ion-content>
      <div class="kidWrapper">
        <div class="eventRegistrationData">
          <div class="mainEventRegistrationData">
            <!-- <img src="img\trophy.png"> -->
          </div>
        </div>
        <div class="otherInf--space-around card">
          <div class="infBlockFull">
            <a class="cardMargin button button-block button-energized"                    
                    ng-click="addEvent(addAluno)">
                    Adicionar Evento
            </a>
          </div>
          <div class="infBlockFull">
            <a class="cardMargin button button-block button-energized"                    
                    ng-click="openRenewContract(addAluno)">
                    Rematricula
            </a>
          </div>
        </div>
        <div class="tip">
          <p>Nesta seção é possivel adcionar eventos personalizados ao aluno, como por exemplo,
            torneios, rematricula entre outros.</p>
        </div>        
        <div class="list financeAlunos card" ng-show="events.length > 0">      
          <a class="item financeItem itemClass" href="#" 
             ng-repeat="event in events | orderBy:'dataInicio':true"
             ng-click="openUpdateEvent(event)"
             ng-class="{ inadimItemClass: !event.pago }">          
            <h2 class="title">{{event.desc}}</h2>
            <div class="financeInfBlock">
              <div class="financeInf">
                <p class="infLabel">Valor</p>
                <p class="inf"> {{event.valor | currency}}</p>
              </div>
              <div class="financeInf">
                <p class="infLabel">Inicio</p>
                <p class="inf"> {{event.dataInicio | date}}</p>
              </div>            
            </div>
          </a>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
