<ion-modal-view ng-controller="kidController">
  <ion-header-bar class="bar bar-header bar-balanced barCustom"
                  ng-class="{ inadimHeaderClass: aluno.inadimplente }">
    <button class="button button-clear button-top-left" ng-click="closeKid()">
        <i class="icon icon-left ion-android-arrow-back"></i>
    </button>
    <p class="title">Perfil do aluno</p>
  </ion-header-bar>
  <ion-content>
      <div class="kidWrapper">
        <div class="kidRegistrationData" ng-class="{ inadimClass: aluno.inadimplente }">
          <i class="iconCustom icon ion-android-create"
                  ng-click="openEditKid()"></i>
          <div class="mainKidRegistrationData">
            <img src="img\kidplaceholder.jpg">
            <h5>{{aluno.nome}}</h5>
          </div>
        </div>
        <div class="otherInf card">
          <div class="infBlock">
            <p class="infLabel">Responsável</p>
            <p class="inf">{{aluno.responsavel}}</p>
          </div>
          <div class="infBlock">
            <p class="infLabel">Idade</p>
            <p class="inf">{{aluno.idade}}</p>
          </div>
          <div class="infBlock">
            <p class="infLabel">Telefone</p>
            <p class="inf">{{aluno.telefone}}</p>
          </div>
          <div class="infBlock">
            <p class="infLabel">Data de Nascimento</p>
            <p class="inf">{{aluno.dataNascimento | date:"MM/dd/yyyy"}}</p>
          </div>
          <div class="infBlock">
            <p class="infLabel">Contrato</p>
            <p class="inf">{{aluno.contratoVigencia}} Meses</p>
          </div>
          <div class="infBlock">
            <p class="infLabel">Vencimento</p>
            <p class="inf">Dia {{aluno.contratoVencimento}}</p>
          </div>
        </div>
        <div class="kidPaymentWrapper">
          <div class="kidPaymentHeader">
            <p>Mês</p>
            <p>Pago</p>
          </div>
          <div class="kidPaymentData card">
            <ion-checkbox ng-model="mensalidade.pago"
                class="item-checkbox-right itemClass"
                ng-repeat="mensalidade in mensalidades | orderBy:['ano','mes']"
                ng-change="pagaMensalidade(mensalidade)"
                ng-class="{ inadimItemClass: !mensalidade.pago }">
              {{mensalidade.mes | converteMes }} {{mensalidade.ano}}
            </ion-checkbox>
          </div>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
