<ion-view view-title="Sign-In" hide-nav-bar="true" ng-init="checkUser()">
  <ion-content>
    <div class="loginWrapper">
      <div class="imageLogin"></div>
      <div class="loginTitle">
        <h1>Diprima App</h1>
        <div class="loginLine"></div>
      </div>
      <div class="loginInfWrapper card">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Usuário:</span>
            <input type="text" ng-model="user.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Senha:</span>
            <input type="password" ng-model="user.password">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-balanced" ng-click="login(user)">
            Entrar
          </button>
        </div>
      </div>
      <a class="author" href="https://ecomachio.github.io/portifolio/"><p>Designed by Edian Comachio</p></a>
    </div>
  </ion-content>
</ion-view>
