<ion-view view-title="Cadastro">
  <ion-content class="cadastro-wrapper">
    <div class="list card">
      <a class="item item-avatar" href="#">
         <img src="img\max.png">
         <h2>Joao</h2>
         <p>Pedro Oliveira, Vô.</p>
      </a>
      <a class="item item-avatar" href="#">
         <img src="img\mike.png">
         <h2>Joao</h2>
         <p>Mariana Fernandez, Mãe.</p>
      </a>
      <a class="item item-avatar" href="#">
         <img src="img\adam.jpg">
         <h2>Joao</h2>
         <p>Hélio da silva, Pai</p>
      </a>
      <a class="item item-avatar" href="#">
         <img src="img\perry.png">
         <h2>Joao</h2>
         <p>Joana Leite</p>
      </a>
      <a class="item item-avatar" href="#">
         <img src="img\max.png">
         <h2>Joao</h2>
         <p>Pedro Oliveira, Vô.</p>
      </a>
      <a class="item item-avatar" href="#">
         <img src="img\mike.png">
         <h2>Joao</h2>
         <p>Mariana Fernandez, Mãe.</p>
      </a>
      <a class="item item-avatar" href="#">
         <img src="img\adam.jpg">
         <h2>Joao</h2>
         <p>Hélio da silva, Pai</p>
      </a>
      <a class="item item-avatar" href="#">
         <img src="img\perry.png">
         <h2>Joao</h2>
         <p>Joana Leite</p>
      </a>
    </div>
    <a class="cardMargin button button-block button-balanced">Adicionar aluno</button>
  </ion-content>
</ion-view>
