<ion-view view-title="Financeiro" ng-init="loadAlunos()">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content class="main">
    <div class="financeiro-wrapper">
      <div class="financeiro-data" >
          <i class="iconCustom icon ion-android-refresh"
          ng-click="countInadimplentes()"></i>
          <h3>Alunos pendentes</h3>
          <h1>{{inadimplentes}}</h1>
      </div>
      <div class="financeiro-period">
        <h4>Novembro - 2017</h4>
      </div>
      <div class="list card">
        <a class="item item-avatar itemClass" href="#" ng-click="openKid(aluno)" ng-repeat="aluno in alunos"
        ng-class="{ inadimItemClass: aluno.inadimplente }">
           <img src="img\kidplaceholder.jpg" />
           <h2>{{aluno.nome}}</h2>
           <p>{{aluno.responsavel}}</p>
        </a>
       </div>
     </div>
  </ion-content>
</ion-view>
