<ion-view view-title="Financeiro">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content class="main">
    <div class="financeiro-wrapper">
      <div class="financeiro-data">
          <h3>Alunos pendentes</h3>
          <h1>15</h1>
      </div>
      <div class="financeiro-period">
        <h4>Novembro - 2017</h4>
      </div>
      <div class="list card">
        <a class="item item-avatar" href="#">
           <img src="..\img\max.png">
           <h2>Joao</h2>
           <p>Pedro Oliveira, Vô.</p>
        </a>
        <a class="item item-avatar" href="#">
           <img src="..\img\mike.png">
           <h2>Joao</h2>
           <p>Mariana Fernandez, Mãe.</p>
        </a>
        <a class="item item-avatar" href="#">
           <img src="..\img\adam.jpg">
           <h2>Joao</h2>
           <p>Hélio da silva, Pai</p>
        </a>
        <a class="item item-avatar" href="#">
           <img src="..\img\perry.png">
           <h2>Joao</h2>
           <p>Joana Leite</p>
        </a>
        <a class="item item-avatar" href="#">
           <img src="..\img\max.png">
           <h2>Joao</h2>
           <p>Pedro Oliveira, Vô.</p>
        </a>
        <a class="item item-avatar" href="#">
           <img src="..\img\mike.png">
           <h2>Joao</h2>
           <p>Mariana Fernandez, Mãe.</p>
        </a>
        <a class="item item-avatar" href="#">
           <img src="..\img\adam.jpg">
           <h2>Joao</h2>
           <p>Hélio da silva, Pai</p>
        </a>
        <a class="item item-avatar" href="#">
           <img src="..\img\perry.png">
           <h2>Joao</h2>
           <p>Joana Leite</p>
        </a>
       </div>
     </div>
  </ion-content>
</ion-view>
