<ion-view view-title="Cadastro" ng-init="loadAlunos()">
  <ion-content class="cadastro-wrapper">
    <div class="list card">
      <a class="item item-avatar" href="#" ng-click="openKid(aluno)" ng-repeat="aluno in alunos|orderBy:'nome'">
         <img src="img\kidplaceholder.jpg" />
         <h2>{{aluno.nome}}</h2>
         <p>{{aluno.responsavel}}</p>
      </a>
    </div>
  </ion-content>
  <button id="fab" class="button button-balanced button-fab button-fab-bottom-right" ng-click="openAdd()">
        <i class="icon ion-android-add"></i>
  </button>
</ion-view>
