
<ion-tabs class="tabs-icon tabs-background-balanced tabs-color-light">

  <!-- Agenda Tab -->
  <ion-tab title="Cadastro" icon-off="ion-android-contact" icon-on="ion-android-contact" href="#/tab/cadastro">
    <ion-nav-view name="tab-cadastro"></ion-nav-view>
  </ion-tab>

  <!-- Fotos Tab -->
  <ion-tab title="Finanças" icon-off="ion-social-usd" icon-on="ion-social-usd" href="#/tab/fotos">
    <ion-nav-view name="tab-fotos"></ion-nav-view>
  </ion-tab>

  <!-- Ajustes Tab -->
  <ion-tab title="Ajustes" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
